/*
	_utils.scss
*/

img{max-width: 100%; }
.valign{@include valign; }
.va-p{@include valign-parent;  }

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
a{text-decoration: none;}
p{color: #fff;}
.tac{text-align: center;}
.fz12{font-size: 1.2rem;}
.fz14{font-size: 1.4rem;}
@each $color in $colors{
	.#{""+nth($color,1)}{
		color: #{nth($color,2)};
	}
	a.#{""+nth($color,1)}:hover{ 
		color: darken(nth($color,2),10%);
	}
	.bg-#{""+nth($color,1)}{
		background-color: #{nth($color,2)};
	}
	a.bg-#{""+nth($color,1)}, button.bg-#{""+nth($color,1)}{
		color: white;
		&:hover{ background-color: darken(nth($color,2),10%); }
	}
}