---
title: Programaci&oacute;n 101
---
.container
	%h1 Programaci&oacute;n 101
	%a.start.btn.empty-teal{:href => "#"} Empieza aqu&iacute;
	%p.small.tac.fz12 Presiona Enter
	.console
	.footnote
		%p.small.fz14<
			%em un proyecto de
		%a.codeando{:href => "#"}
			%img{:src => "img/codeando.png", :alt => "Codeando México"}/
= javascript_include_tag :jquery
= javascript_include_tag :console
= javascript_include_tag :myconsole