---
title: Programaci&oacute;n 101
---
.container
	%h1 Programaci&oacute;n 101
	= link_to "Empieza aqu&iacute;", "path.html", :class => "start btn empty-teal"
	%p.small.tac.fz12 Presiona Enter
	.console
	.footnote
		%p.small.fz14<
			%em un proyecto de
		%a.codeando{:href => "#"}
			%img{:src => "img/codeando.png", :alt => "Codeando México"}/
= javascript_include_tag :jquery
= javascript_include_tag :console
= javascript_include_tag :myconsole