---
title: Programaci&oacute;n 101
---
.container.default
	%h1.teal Cursos Intensivos
	%p.desc Ya sea que te guste el formato de llevar un curso universitario, o que quieras profundizar en un tópico después de haber aprendido lo básico, te recomendamos esta lista de recursos sólidos que facilitan muy buenas universidades.
	%hr/
	.linklist
		- data.links.intensivos.each_slice(2) do |slice|
			.row
				- slice.each do | section |
					.six.columns
						%p.name= section.title
						%p.description= section.desc
						- section.links.each do | link |
							= link_to section.title, link, :class => "btn empty-teal", :target => "_blank"
			%hr/
