---
title: Programaci&oacute;n 101
---
.container.default
	%h1.teal Cursos Interactivos
	%p.desc Cuando estás aprendiendo a desarrollar productos de software vas a encontrar que hay muchos recursos en forma de libros o videos. Pero eso rápidamente puede volverse aburrido y no hay nada como aprender haciendo.
	%p.desc Los cursos interactivos son una gran forma de aprender todos los componentes diferentes de una aplicación sin el problema que implica hacer las instalaciones del software directamente en tu computadora. Además que tienen mecanismos para evaluar en ese momento tu código. Aquí te dejamos nuestros recursos favoritos para empezar.
	%hr/
	.linklist
		- data.links.interactive.each_slice(2) do |slice|
			.row
				- slice.each do | section |
					.six.columns
						%p.name= section.title
						%p.description= section.desc
						- section.links.each do | link |
							= link_to section.title, link, :class => "btn empty-teal", :target => "_blank"
			%hr/
