---
title: Programaci&oacute;n 101
---
.container
	%h1.teal Newbie
	%p.desc Cuando vamos empezando creemos que programación es hacer páginas web, pero la programación y el desarrollo de software son mucho más que eso. Programación es, en pocas palabras, poderle dar instrucciones a una computadora para que desempeñe una tarea. Desarrollo de software es el diseño, la ingeniería y la construcción de todos los componentes que hacen un producto de software completo. Este puede tomar la forma de una aplicación web, un bot, un scrapper, o hasta una página web sencilla y estática.
	%p.desc El mundo de la programación es muy grande, y nunca dejamos de estudiar para ser mejores programadores. Pero ¿por dónde puedes empezar? Aquí te dejamos unos recursos para empezar a explorar y que vayas encontrando tu camino en la programación.
	%hr/
	.linklist
		- data.links.newbie.each_slice(2) do |slice|
			.row
				- slice.each do | section |
					.six.columns
						%p.name= section.title
						%p.description= section.desc
						- section.links.each do | link |
							= link_to section.title, link, :class => "btn empty-teal", :target => "_blank"
			%hr/
