---
title: Path
---
.container
	%h1.white.right The developer path
	.clear
	.timeline
		.left.first
			%p.title Empieza aqu&iacute;
			%p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eligendi excepturi, id tenetur laborum dignissimos! Repellat distinctio, laborum error nostrum!
			%a.action.btn.empty-teal{:href => "#"} Ver m&aacute;s
		.clear
		.right.second
			%p.title Intermedio
			%p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eligendi excepturi, id tenetur laborum dignissimos! Repellat distinctio, laborum error nostrum!
			%a.action.btn.empty-teal{:href => "#"} Ver m&aacute;s
		.clear
		.left.third
			%p.title Cursos Interactivos
			%p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eligendi excepturi, id tenetur laborum dignissimos! Repellat distinctio, laborum error nostrum!
			%a.action.btn.empty-teal{:href => "#"} Ver m&aacute;s
		.clear
		.right.fourth
			%p.title Cursos Intensivos
			%p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eligendi excepturi, id tenetur laborum dignissimos! Repellat distinctio, laborum error nostrum!
			%a.action.btn.empty-teal{:href => "#"} Ver m&aacute;s
		.clear
		.left.fifth
			%p.title Recursos
			%p.body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eligendi excepturi, id tenetur laborum dignissimos! Repellat distinctio, laborum error nostrum!
			%a.action.btn.empty-teal{:href => "#"} Ver m&aacute;s
			
